<%- layout('./layout/boilerPlate.ejs') %>
<br>
<h2>Listing Details</h2>
<body class="detailViewBody">
  <div class="upperContainer" >
          <div class="DetailViewImage">
            <img src=<%= data.image.url %> class="cardImageLeft">
          </div>

          <div class="detailViewContent">
              <p><i>Created by <%=data.owner.username%></i></p>
              <h4 class="mb-3 mt-3 card-title" ><%= data.title %> </h4>
              <p id="mb-3 mt-3 detailViewDescription"><%= data.description %> </p>
              <p class="mb-3 mt-3 card-text Price">&#8377; <%= new Intl.NumberFormat('en-IN').format(data.price) %>/Night</p>
              <p class="mb-3 mt-3 location"><b><%= data.location %> , <%= data.country %></b></p>

              <% if (currUser && data.owner && currUser._id && currUser._id.equals(data.owner._id)) { %>
                <div class="buttons mb-3 mt-3">
                  <form method="post" action="/listings/<%= data._id%>?_method=DELETE">
                    <button class="b1 DetailButton">Delete Listing</button>
                  </form>
                  <a href="/listings/edit/<%= data._id%>">
                    <button class="b2 DetailButton">Edit Listing</button>
                  </a>
                </div>
              <% } %>
          </div>
  </div>
  <br>
  <hr>
  
  <div class="review">
    <h4>Leave a Review</h4>
    <form method="post"  action="/listings/<%= data._id %>/review" class="needs-validation" novalidate>
      <div class="mb-3 mt-3">
        <label class="form-label" for="reviewRating">Rating</label>

        <fieldset class="starability-slot">
          <input type="radio" id="no-rate-slot" class="input-no-rate" name="rating" value="1" checked="" aria-label="No rating.">
    
          <input type="radio" id="slot-rate1" name="rating" value="1">
          <label for="slot-rate1" title="Terrible">1 star</label>
    
          <input type="radio" id="slot-rate2" name="rating" value="2">
          <label for="slot-rate2" title="Not good">2 stars</label>
    
          <input type="radio" id="slot-rate3" name="rating" value="3">
          <label for="slot-rate3" title="Average">3 stars</label>
    
          <input type="radio" id="slot-rate4" name="rating" value="4">
          <label for="slot-rate4" title="Very good">4 stars</label>
    
          <input type="radio" id="slot-rate5" name="rating" value="5">
          <label for="slot-rate5" title="Amazing">5 stars</label>
    
          <span class="starability-focus-ring"></span>
        </fieldset>
      </div>

      <div class="mb-3 mt-3">
        <label for="reviewComment" class="form-label">Comments</label>
        <textarea class="form-control" name="comment" id="reviewComment" cols="20" rows="5" required></textarea>
      </div>

      <button type="submit" class="btn btn-outline-dark" style="background-color: #0d6efd; color: white;">Submit</button>
    </form>
  </div>
  <hr>
  <h4>All Reviews</h4>
  <div class="allReviewCard">
    <%data.review.forEach((e)=>{%>
      <div class="reviewCard">
        <div class="userNameAndProfile flexRow">
          <img class="ProfileImageForCard" src="<%=e.owner.profilePic.url%>">
          <div class="userNameAndDate">
            <p class="UserNameInReviewCard"><%=e.owner.username%></p>
            <p class="DateOfPost"><%=(new Date(e.currentDate)).toLocaleDateString('en-US', { day: 'numeric', month: 'long', year: 'numeric' })%></p>
          </div>
        </div>
        <div class="ratingAndDateOfPost">
          <p class="starability-result" data-rating="<%=e.rating%>"></p>
        </div>
        <p class="commentInReviewCard"><%=e.comment%></p>
        <%if(currUser && e.owner &&  currUser._id.equals(e.owner._id)){%>
          <form method="post" action="/listings/<%= data._id %>/review/<%=e._id%>?_method=DELETE"">
            <button class="b2 DetailButton" >Delete Review</button>
          </form>
        <%}%>
      </div>
    <%})%>

  </div> 
</body>

<script src="/js/edit.js"></script>